<div class="jumbotron">
  <h1 class="display-4">
    <%= @contact.first_name%>
    <%= @contact.last_name%>
  </h1>

  <hr class="my-4">
 <p class="lead">
  <strong> Email Address: </strong>
    <%= @contact.email%>
  </p>
  <p class="lead">
     <strong> Physicial Address: </strong> <%= @contact.physical_address%>
  </p>
  <p class="lead">
   <strong> Billing Address: </strong>  <%= @contact.billing_address%>
  </p> <p class="lead">
  <%= link_to "Edit", edit_contact_path(@contact), class:"btn btn-primary btn-sm" %>
  <%= link_to "Back", contacts_path,  class:"btn btn-secondary btn-sm" %>
  <%= button_to "Delete", @contact, method: :delete, class:"btn btn-danger btn-sm" %>
</p>
</div>

<%#= render @contact %>


